html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

nav ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input, select {
    vertical-align: middle
}

html, body {
    height: 100%;
    width: 100%
}

body {
    background: transparent;
    height: 100%;
    width: 100%;
    font: 13px Helvetica, Arial, sans-serif;
    position: relative
}

.clear {
    clear: both
}

.clearfix:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

@font-face {
    font-family: 'icomoon';
    src: url('https://static-v.tawk.to/a-v3-47/fonts/icomoon.eot?-7rca1q');
    src: url('https://static-v.tawk.to/a-v3-47/fonts/icomoon.eot?#iefix-7rca1q') format('embedded-opentype'), url('https://static-v.tawk.to/a-v3-47/fonts/icomoon.ttf?-7rca1q') format('truetype'), url('https://static-v.tawk.to/a-v3-47/fonts/icomoon.woff?-7rca1q') format('woff'), url('https://static-v.tawk.to/a-v3-47/fonts/icomoon.svg?-7rca1q#icomoon') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'tawk-widget';
    src: url('https://static-v.tawk.to/a-v3-47/fonts/tawk-widget.eot?yh9epr');
    src: url('https://static-v.tawk.to/a-v3-47/fonts/tawk-widget.eot?yh9epr#iefix') format('embedded-opentype'), url('https://static-v.tawk.to/a-v3-47/fonts/tawk-widget.ttf?yh9epr') format('truetype'), url('https://static-v.tawk.to/a-v3-47/fonts/tawk-widget.woff?yh9epr') format('woff'), url('https://static-v.tawk.to/a-v3-47/fonts/tawk-widget.svg?yh9epr#tawk-widget') format('svg');
    font-weight: normal;
    font-style: normal
}

body {
    font-family: Helvetica, Arial, sans-serif
}

body.font-lato {
    font-family: 'Lato', 'Open Sans', sans-serif !important
}

* {
    font-family: inherit
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'tawk-widget' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-chat:before {
    content: "\e901"
}

.icon-close:before {
    content: "\e909"
}

.icon-vote-down:before {
    content: "\e906"
}

.icon-vote-up:before {
    content: "\e907"
}

.icon-upload:before {
    content: "\e904"
}

.icon-alert:before {
    content: "\e915"
}

.icon-happy:before {
    content: "\e91a"
}

.icon-voice-chat:before {
    content: "\e905"
}

.icon-mail:before {
    content: "\e914"
}

.rtl-direction {
    direction: rtl
}

#tawkchat-minified-box {
    height: 100%;
    width: 100%;
    overflow: hidden
}

#tawkchat-minified-wrapper {
    z-index: 999997;
    cursor: pointer;
    height: 100%;
    width: 100%
}

#tawkchat-minified-box.round {
    width: 60px;
    height: 60px
}

#tawkchat-status-container {
    height: 100%;
    width: auto;
    display: inline-block;
    position: absolute
}

#tawkchat-status-agent-container {
    height: 100%;
    width: 100%;
    display: none;
    margin-right: 5px;
    position: relative
}

#tawkchat-status-icon-container {
    margin-right: 5px
}

#tawkchat-status-icon-container, #tawkchat-status-text-container {
    display: inline-block;
    vertical-align: top
}

.round #tawkchat-status-text-container {
    width: 60px;
    height: 60px;
    display: block
}

.round #tawkchat-status-agent-container {
    height: 60px;
    width: 60px;
    display: none;
    margin: 0;
    position: relative
}

.round.open #tawkchat-status-agent-container {
    display: none !important
}

#tawkchat-status-icon.online:before, #tawkchat-status-icon.away:before {
    content: "\e96c"
}

#tawkchat-status-icon.offline:before {
    font-size: 38px;
    line-height: 55px;
    content: "\e904"
}

#tawkchat-status-icon:before {
    font-size: 28px;
    font-weight: normal;
    font-family: 'icomoon';
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: center;
    line-height: 60px
}

.center #tawkchat-minified-wrapper {
    position: absolute
}

#tawkchat-status-agent-container #agent-profile-image {
    background-image: url('https://static-v.tawk.to/a-v3-47/images/profile-default.png');
    background-position: 0 50%;
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    display: inline-block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%
}

.round #tawkchat-status-agent-container #agent-profile-image {
    height: 60px;
    width: 60px;
    background-size: 60px 60px;
    position: static;
    transform: translate(0)
}

#tawkchat-minified-border {
    margin: 0;
    border: 0 none;
    padding: 0;
    background-color: #000;
    filter: alpha(opacity=40);
    opacity: .4;
    position: absolute;
    z-index: 999998;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0
}

#tawkchat-minified-container {
    margin: 0;
    border: 0 none;
    padding: 0;
    cursor: pointer;
    z-index: 999999;
    position: absolute;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
    left: 0;
    right: 0;
    border-bottom: 0
}

#tawkchat-status-middle {
    border: 0 none;
    margin: 0 auto;
    font-size: 17px;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 15px;
    right: 15px;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    *width: expression(this.parentNode.clientWidth - 20+'px');
    *top: 0;
    *position: static;
    *margin-top: 10px
}

#tawkchat-status-message {
    border: 0 none;
    margin: 0 26px 0 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    font-size: 17px;
    *width: expression(this.parentNode.clientWidth+'px');
    *margin: 0
}

.rtl-direction #tawkchat-status-message {
    margin: 0 0 0 26px;
    text-align: right
}

#tawkchat-chat-bubble {
    border: 0 none;
    padding: 0;
    margin: 0;
    width: 190px;
    height: 65px;
    position: absolute;
    top: 0;
    display: none;
    right: 32px
}

.left #tawkchat-chat-bubble {
    right: 2px
}

#tawkchat-chat-bubble-text-container {
    border: 0 none;
    padding: 0;
    margin: 0 0 0 -58px;
    width: 111px;
    height: 65px;
    position: absolute;
    z-index: 10;
    font-style: italic;
    font-size: 15px;
    top: 5px;
    left: 50%;
    right: auto;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: table
}

.rtl-direction #tawkchat-chat-bubble-text-container {
    right: 50%;
    left: auto;
    margin: 0 -58px 0 0
}

#tawkchat-chat-bubble-text {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    *margin-top: expression(this.offsetHeight < this.parentNode.offsetHeight ? parseInt((this.parentNode.offsetHeight - this.offsetHeight) / 2)+'px':'0')
}

#tawkchat-chat-bubble-graphics-container {
    border: 0 none;
    padding: 0;
    margin: 0;
    width: 146px;
    height: 85px
}

#tawkchat-chat-bubble-canvas {
    width: 146px;
    height: 85px;
    border: 0 none;
    padding: 0;
    margin: 0
}

#tawkchat-minified-agent-container {
    float: left;
    width: 100%;
    display: none
}

#tawkchat-minified-agent-information-wrapper {
    border: 0 none;
    margin: 0 88px 0 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    font-size: 17px;
    *width: 100%
}

.hasImage #tawkchat-minified-agent-information-wrapper {
    margin-left: 60px
}

#tawkchat-minified-agent-name {
    border: 0 none;
    padding: 0;
    margin: 0;
    font-weight: bold
}

.agentNameCentered {
    margin-top: 17px
}

.agentContainerNoImage {
    margin-right: 26px;
    margin-left: 0
}

.rtl-direction .agentContainerNoImage {
    margin-left: 19px;
    margin-right: 0
}

.agentContainer {
    margin: 6px 20px 5px 45px
}

.rtl-direction .agentContainer {
    margin-right: 45px;
    margin-left: 20px
}

#tawkchat-minified-agent-position {
    border: 0 none;
    padding: 0;
    margin: 0;
    font-style: italic
}

#tawkchat-chat-indicator {
    text-align: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 0 none;
    margin: 0;
    position: absolute;
    top: 0;
    right: auto;
    z-index: 1000000;
    display: none;
    background: #e52f48
}

#tawkchat-chat-indicator-text {
    border: 0 none;
    padding: 0;
    overflow: hidden;
    vertical-align: baseline;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    color: white;
    z-index: 1000001;
    display: block;
    line-height: 21px;
    width: 100%;
    height: 100%
}

.noCookies #tawkchat-minified-link-container {
    float: right
}

.noCookies #tawkchat-minified-link-container .icon {
    background-position: -16px 0
}

#tawkchat-minified-link-container {
    float: right;
    width: auto;
    margin-left: -16px
}

.rtl-direction #tawkchat-minified-link-container {
    margin-left: -100%
}

#tawkchat-minified-link-container .icon {
    background-image: url('https://static-v.tawk.to/a-v3-47/images/icons.png');
    display: block
}

#maximizeChat, #popoutChat {
    width: 16px;
    height: 16px;
    margin: 0;
    z-index: 100001
}

#maximizeChat .icon {
    width: 11px;
    height: 7px;
    margin: 4.5px 2.5px
}

#maximizeChat, #minimizeChatMinifiedBtn {
    display: inline-block;
    font-size: 32px;
    height: 100%;
    width: auto;
    text-align: center;
    cursor: pointer
}

#short-message {
    display: inline-block;
    width: auto;
    cursor: pointer;
    font-size: 15px
}

.black #maximizeChat .icon {
    background-position: -16px 0
}

.white #maximizeChat .icon {
    background-position: -79px 0;
    margin-top: 15px
}

#popoutChat .icon {
    width: 10px;
    height: 10px;
    margin: 3px
}

.black #popoutChat .icon {
    background-position: -48px 0
}

.white #popoutChat .icon {
    background-position: -111px 0
}

.alias-image {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    margin: 0;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 5px 0;
    background-image: url('https://static-v.tawk.to/a-v3-47/images/icons.png');
    background-position: -624px 0;
    float: left;
    margin-left: -100%
}

.rtl-direction .alias-image {
    float: right
}

.small-image .alias-image {
    background-position: -589px 0;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    border-radius: 10px
}

#profileDetail {
    position: static;
    width: 100%;
    float: left
}

.agentInformationContainer p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.position-label {
    font-size: 12px
}

.agentInfoNoImage {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.image-bubble-close {
    background-image: url('https://static-v.tawk.to/a-v3-47/images/icons.png');
    background-position: 0 0;
    width: 11px;
    height: 11px;
    float: right;
    margin: 2.5px;
    cursor: pointer;
    display: block;
    visibility: hidden
}

#bubble-image {
    cursor: pointer
}

#bubble-image.gallery-bubble {
    position: absolute;
    top: 11px;
    bottom: 0;
    left: 0;
    right: 0
}

.image-canvas-close {
    border: 0 none;
    padding: 0;
    margin: 0;
    width: 10px;
    height: 13px;
    position: absolute;
    right: 6px;
    top: 3px;
    font-size: 12px;
    cursor: pointer;
    z-index: 20
}

.image-loader {
    width: 30px;
    height: 30px;
    background: url('https://static-v.tawk.to/a-v3-47/images/image-load.gif');
    background-repeat: no-repeat;
    background-position: center
}

.uploaded-image {
    width: 100%;
    height: auto;
    display: block;
    max-width: 220px;
    margin: 0 auto
}

.uploaded-file-name {
    margin-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.uploaded-file-info {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-gap: 5px;
    font-size: 12px;
    align-content: normal;
    justify-content: center;
    vertical-align: middle;
    display: -ms-grid;
    -ms-grid-columns: auto auto 1fr
}

.uploaded-file-info .uploaded-file-name {
    -ms-grid-row: 1;
    -ms-grid-column: 1
}

.uploaded-file-info .uploaded-file-size {
    -ms-grid-row: 1;
    -ms-grid-column: 2
}

.uploaded-file-info .download-file {
    -ms-grid-row: 1;
    -ms-grid-column: 3
}

.download-file {
    text-transform: capitalize
}

.uploaded-file-size {
    margin-top: 4px;
    font-size: 11px
}

.file-upload-not-img-vid-audio .uploaded-file-name {
    margin-top: 0
}

.file-upload-not-img-vid-audio .file-size {
    text-transform: lowercase;
    margin-top: 3px
}

.file-upload-not-img-vid-audio .separator {
    margin-top: 3px
}

.download-file {
    color: inherit;
    text-decoration: underline;
    display: block;
    margin-top: 3px
}

.imageMessageBody {
    padding-right: 13px !important
}

.rtl-direction .image-canvas-close {
    left: 6px !important;
    right: auto !important
}

.no-border #tawkchat-minified-container {
    border: none !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important
}

.top .white #maximizeChat .icon {
    background-position: -95px 0
}

.top .black #maximizeChat .icon {
    background-position: -32px 0
}

.top #tawkchat-chat-bubble-text-container {
    margin-top: 10px !important
}

.top #tawkchat-chat-bubble-close {
    bottom: 0 !important;
    right: 0 !important;
    position: absolute !important
}

.default.top #tawkchat-chat-bubble-close {
    bottom: 3px !important;
    right: 6px !important;
    top: auto !important
}

.profileImageContainer .agentProfileImage {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    border-radius: 14px;
    background-image: url('https://static-v.tawk.to/a-v3-47/images/profile-default.png');
    background-size: 28px 28px;
    position: absolute;
    left: -38px;
    display: block;
    background-color: #fff
}

.center-right #tawkchat-chat-bubble-close {
    float: left
}

.center.right .profileImageContainer .agentProfileImage, .top.right .profileImageContainer .agentProfileImage, .bottom.right .profileImageContainer .agentProfileImage {
    left: -38px;
    right: auto
}

.rtl-direction.center.right .profileImageContainer .agentProfileImage, .rtl-direction.top.right .profileImageContainer .agentProfileImage, .rtl-direction.bottom.right .profileImageContainer .agentProfileImage {
    left: auto;
    right: -38px
}

.center.left .profileImageContainer .agentProfileImage, .top.left .profileImageContainer .agentProfileImage, .bottom.left .profileImageContainer .agentProfileImage {
    left: -38px;
    right: auto
}

.rtl-direction.center.left .profileImageContainer .agentProfileImage, .rtl-direction.top.left .profileImageContainer .agentProfileImage, .rtl-direction.bottom.left .profileImageContainer .agentProfileImage {
    left: auto;
    right: -38px
}

#incoming-call .profileImageContainer {
    position: relative
}

.profileImageContainer .incomingCallAgentProfileImage {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-image: url('https://static-v.tawk.to/a-v3-47/images/profile-default.png');
    background-size: 28px 28px;
    position: absolute;
    left: 0;
    display: block;
    border-radius: 50%
}

#incoming-call-container .header-label {
    display: inline-block;
    line-height: 28px;
    vertical-align: top;
    font-weight: 600;
    font-size: 15px;
    margin-left: 33px;
    color: #3e3e3e
}

#tawkchat-message-preview-container {
    height: 100%;
    box-sizing: border-box
}

.bottom#tawkchat-message-preview-container {
    position: absolute;
    bottom: 0;
    top: auto;
    width: 100%;
    height: auto
}

.top#tawkchat-message-preview-container {
    top: 0;
    bottom: auto;
    width: 100%;
    height: auto;
    position: absolute
}

.center#tawkchat-message-preview-container {
    top: 0;
    bottom: auto;
    position: absolute;
    width: 100%;
    height: auto
}

#tawkchat-message-preview-messages-container {
    max-height: calc(100vh - 110px);
    margin-bottom: 10px;
    overflow: auto
}

#tawkchat-message-preview-messages-container::-webkit-scrollbar {
    display: none
}

#tawkchat-message-preview-messages-container .message-preview-item {
    position: relative;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    margin-bottom: 10px
}

#tawkchat-message-preview-messages-container .message-preview-item.animate-fade-object {
    opacity: 1
}

#tawkchat-message-preview-messages-container .messageBody {
    position: relative;
    height: auto;
    padding: 15px 25px 30px 13px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #e9e9e9
}

#tawkchat-message-preview-messages-container .message-preview-item:last-child {
    margin-bottom: 0
}

#tawkchat-message-preview-messages-container .messageBody:after, #tawkchat-message-preview-messages-container .messageBody:before {
    right: 100%;
    top: 15px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

#tawkchat-message-preview-messages-container .messageBody:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 6px;
    margin-top: -6px
}

#tawkchat-message-preview-messages-container .messageBody:before {
    border-color: rgba(170, 170, 170, 0);
    border-right-color: #ddd;
    border-width: 7px;
    margin-top: -7px
}

.rtl-direction #tawkchat-message-preview-messages-container .messageBody:after, .rtl-direction #tawkchat-message-preview-messages-container .messageBody:before {
    left: 100%;
    right: unset
}

.rtl-direction #tawkchat-message-preview-messages-container .messageBody:after {
    border-right-color: transparent;
    border-left-color: #fff
}

.rtl-direction #tawkchat-message-preview-messages-container .messageBody:before {
    border-right-color: transparent;
    border-left-color: #ddd
}

#tawkchat-message-preview-messages-container .message {
    color: #464646;
    font-weight: 400;
    font-size: 14px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word
}

#tawkchat-message-preview-messages-container .messageTimeContainer, #tawkchat-message-preview-messages-container .messageNameContainer {
    position: absolute;
    display: inline-block;
    bottom: 8px;
    font-size: 13px;
    color: #bdbdbd
}

#tawkchat-message-preview-messages-container .messageTimeContainer {
    right: 13px
}

#tawkchat-message-preview-messages-container .messageNameContainer {
    left: 13px
}

#tawkchat-message-preview-messages-container .message-preview-close-button {
    top: 8px;
    right: 8px;
    z-index: 5;
    position: absolute;
    color: #bdbdbd;
    font-size: 14px;
    cursor: pointer;
    display: none
}

#tawkchat-message-preview-messages-container .emojionly .emojione {
    height: 4.5ex !important
}

#tawkchat-message-preview-messages-container .emojione {
    min-width: auto;
    min-height: auto;
    height: 3.2ex
}

#tawkchat-message-preview-messages-container .hidden-profile .profileImageContainer, #tawkchat-message-preview-messages-container .hidden-profile .messageBody::after, #tawkchat-message-preview-messages-container .hidden-profile .messageBody::before {
    display: none
}

#tawkchat-message-preview-quick-reply-container {
    position: relative;
    float: right;
    width: 340px;
    height: auto;
    margin-top: 10px;
    overflow: hidden !important
}

.center.right #tawkchat-message-preview-messages-container, .center.right #tawkchat-message-preview-quick-reply-container, .bottom.right #tawkchat-message-preview-messages-container, .top.right #tawkchat-message-preview-messages-container, .top.right #tawkchat-message-preview-quick-reply-container, .bottom.right #tawkchat-message-preview-quick-reply-container {
    padding-left: 38px
}

.rtl-direction.center.right #tawkchat-message-preview-messages-container, .rtl-direction.center.right #tawkchat-message-preview-quick-reply-container, .rtl-direction.bottom.right #tawkchat-message-preview-messages-container, .rtl-direction.top.right #tawkchat-message-preview-messages-container, .rtl-direction.top.right #tawkchat-message-preview-quick-reply-container, .rtl-direction.bottom.right #tawkchat-message-preview-quick-reply-container {
    padding-left: 0;
    padding-right: 38px
}

.center.left #tawkchat-message-preview-messages-container, .center.left #tawkchat-message-preview-quick-reply-container, .bottom.left #tawkchat-message-preview-messages-container, .top.left #tawkchat-message-preview-messages-container, .top.left #tawkchat-message-preview-quick-reply-container, .bottom.left #tawkchat-message-preview-quick-reply-container {
    padding-left: 38px;
    padding-right: 0
}

.rtl-direction.center.left #tawkchat-message-preview-messages-container, .rtl-direction.center.left #tawkchat-message-preview-quick-reply-container, .rtl-direction.bottom.left #tawkchat-message-preview-messages-container, .rtl-direction.top.left #tawkchat-message-preview-messages-container, .rtl-direction.top.left #tawkchat-message-preview-quick-reply-container, .rtl-direction.bottom.left #tawkchat-message-preview-quick-reply-container {
    padding-left: 0;
    padding-right: 38px
}

#actionsContainer {
    z-index: 99998;
    background-color: #fff;
    width: 100%;
    height: 50px;
    border-radius: 5px
}

.drag-over#actionsContainer {
    height: 155px !important;
    padding: 8px 8px 35px 8px;
    box-sizing: border-box
}

#file-upload-drop-container {
    display: none;
    background-color: #f1f1f1;
    height: 100%;
    width: 100%;
    border: #e4e4e4 solid 1px;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative
}

#file-upload-drop-icon-label-container {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%
}

#file-upload-drop-label {
    font-size: 15px;
    display: block;
    font-weight: 600;
    text-align: center;
    color: #464646;
    margin-top: 5px
}

#file-upload-drop-icon {
    font-size: 30px;
    display: block;
    font-weight: 600;
    text-align: center
}

#textareaWrapper {
    display: block;
    background-color: transparent;
    position: relative;
    height: 100%;
    box-shadow: inset 1px 1px 0 #e9e9e9, inset -1px 0 0 #e9e9e9, inset 0 -1px 0 #e9e9e9;
    border-radius: 5px;
    max-height: 180px
}

#viewEmoji.active {
    color: #464646
}

.drag-over #textareaWrapper {
    display: none
}

.drag-over #file-upload-drop-container {
    display: block
}

#textareaContainer {
    height: 100%;
    padding: 15px 14px 15px 14px;
    box-sizing: border-box;
    position: relative
}

#textareaContainer.with-emoji {
    padding-right: 44px;
    padding-left: 14px
}

.rtl-direction #textareaContainer.with-emoji {
    padding-right: 14px;
    padding-left: 44px
}

#chatTextarea {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    resize: none;
    border: 0;
    vertical-align: top;
    font-size: 14px !important;
    background-color: transparent;
    color: #000;
    font-family: inherit
}

#chatTextarea:active, #chatTextarea:focus {
    outline: 0
}

#chatTextarea::placeholder {
    color: #bdbdbd !important
}

#actionButtonsContainer {
    position: absolute;
    right: 14px;
    top: 15px
}

.rtl-direction #actionButtonsContainer {
    right: auto;
    left: 0
}

.rtl-direction #rateMainWrapper, .rtl-direction #uploadFileOption, .rtl-direction #viewEmoji {
    float: right
}

#rateContainer {
    padding: 6px 8px;
    border-radius: 5px;
    box-shadow: 0 3px 15px #cbcbcb;
    display: none;
    position: absolute;
    width: 51px;
    background: #fff;
    left: -100%;
    top: -6px
}

.rtl-direction #rateContainer {
    right: -40px
}

#rateMainWrapper {
    float: left;
    position: relative
}

#rateNegative {
    margin-left: 0 !important;
    color: #f99 !important
}

#ratePositive {
    color: #b4deab !important
}

#rateNegative:hover, #ratePositive:hover {
    transform: scale(1.2, 1.2)
}

#actionButtonsContainer a {
    font-size: 19px;
    color: #bdbdbd;
    text-decoration: none;
    float: left;
    margin-left: 13px
}

#actionButtonsContainer a:hover {
    color: #464646
}

#uploadFileOption label {
    display: block;
    cursor: pointer
}

#upload-form {
    position: absolute;
    top: -100000px
}

#tawkchat-message-preview-emoji-selection-container {
    height: 200px;
    background: #fff;
    display: none;
    z-index: 10001;
    width: 340px;
    background-color: #f3f3f3
}

#tabs-selection {
    height: 40px;
    background-color: white;
    list-style: none;
    box-shadow: inset 0 2px 0 0 rgba(128, 128, 128, 0.14)
}

#tab-content {
    overflow: auto;
    height: 158px;
    border: 1px solid #e3e3e3
}

.emoji-select {
    display: inline-block;
    margin: 8px
}

.emoji-select:hover .emojione {
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2)
}

#emoji-selection-container .emojione {
    min-width: auto;
    min-height: auto;
    height: 3.2ex
}

#tawkchat-message-preview-emoji-selection-container .loader {
    position: absolute;
    width: 101px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.open-tab {
    opacity: 1;
    float: left;
    position: relative;
    display: block;
    cursor: pointer;
    width: 11%;
    text-align: center;
    height: 100%;
    padding: 8px 0;
    box-sizing: border-box;
    line-height: 24px
}

.open-tab.active::after {
    content: "";
    position: absolute;
    height: 5px;
    width: calc(100% - 5px);
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    background-color: #4f4f4f
}

#people.open-tab.active .emoji-header {
    border-left: 0
}

.open-tab.active .emoji-header:hover {
    background: #fff
}

.emoji-header {
    display: block;
    cursor: pointer
}

#tawkchat-message-preview-emoji-selection-container .emojione {
    min-width: auto;
    min-height: auto;
    height: 3.2ex
}

#D4CNO6s-1552900762072 {
    color: #000;
    font-size: 11px;
    font-weight: 400;
    text-decoration: none
}

#D4CNO6s-1552900762072 b {
    font-weight: 700
}

#D4CNO6s-1552900762072 .thin {
    font-size: 11px;
    font-weight: 100
}

#E1mKDdK-1552900762072 {
    text-align: center;
    width: calc(100% - 38px);
    position: absolute;
    bottom: 0;
    height: 20px;
    background: transparent;
    z-index: 100001;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#incoming-call {
    background-color: #fff;
    border-radius: 5px;
    padding: 13px 13px 12px 13px;
    box-sizing: border-box;
    margin-bottom: 10px;
    box-shadow: inset 0 0 1px #aaa
}

#incoming-call-buttons {
    margin-top: 16px
}

#incoming-call-buttons button {
    width: calc(50% - 5px);
    border-radius: 5px;
    border: 0;
    display: inline-block;
    color: #fff;
    height: 42px;
    cursor: pointer
}

#incoming-call-buttons button .btn-icon {
    font-size: 17px;
    color: white;
    display: inline-block;
    line-height: 41px;
    vertical-align: top
}

#incoming-call-buttons button .btn-label {
    display: inline-block;
    margin-left: 10px;
    line-height: 41px;
    font-weight: 600
}

#decline-call .btn-icon {
    transform: rotate(135deg)
}

#decline-call {
    background-color: #e52f48;
    float: right
}

#accept-call {
    background-color: #48c82e;
    float: left
}

.mp-callIconContainer {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    color: white;
    position: relative
}

#mp-callIcon {
    display: inline-block;
    position: relative
}

.mp-callInfoWrapper {
    height: 30px
}

#mp-callInfo {
    vertical-align: top;
    line-height: 32px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 15px;
    color: #3e3e3e
}

#mp-callIconWrapper {
    display: inline-block;
    font-size: 17px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.mp-callInfoElapsedTime {
    position: absolute;
    bottom: 8px;
    right: 13px;
    font-size: 13px;
    color: #bdbdbd
}

.mp-callInfoContainer.messageBody {
    height: 80px !important
}

#tawkchat-message-preview-close {
    color: #bdbdbd;
    font-size: 19px;
    margin: 2.5px;
    cursor: pointer
}

.icon-close {
    font-weight: 900
}

.left #tawkchat-message-preview-close {
    text-align: right
}

.right #tawkchat-message-preview-close {
    text-align: right
}

.top.left #tawkchat-message-preview-close {
    right: 38px;
    left: auto
}

.top.right #tawkchat-message-preview-close {
    left: 38px;
    right: auto
}

.rtl-direction.right #tawkchat-message-preview-close {
    text-align: left
}

.rtl-direction.left #tawkchat-message-preview-close {
    text-align: left
}

#tooLongMsgNotification {
    height: 42px;
    position: absolute;
    width: calc(100% - 30px);
    left: 15px;
    margin-top: 10px;
    border-radius: 5px;
    line-height: 42px;
    text-align: center
}

#notifMessageText {
    margin-left: 5px
}

.appear {
    animation: icon-appear .25s ease;
    display: block !important
}

.hide {
    display: none !important
}

#min-agent-profile-details {
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    left: 40px;
    max-width: calc(100% - 37px)
}

.rtl-direction #min-agent-profile-details {
    left: auto;
    right: 40px
}

#min-agent-profile-details .name {
    font-size: 90%;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

#min-agent-profile-details .position {
    font-size: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.rtl-direction #mp-callInfo {
    padding-right: 7px
}

.rtl-direction #tawkchat-message-preview-messages-container .messageNameContainer {
    left: initial;
    right: 13px
}

.rtl-direction #tawkchat-message-preview-messages-container .messageTimeContainer, .rtl-direction .mp-callInfoElapsedTime {
    right: initial;
    left: 13px
}

.rtl-direction #accept-call {
    float: right
}

.rtl-direction #decline-call {
    float: left
}

.rtl-direction .profileImageContainer .incomingCallAgentProfileImage {
    right: 0
}

.rtl-direction #incoming-call-container .header-label {
    margin-right: 33px;
    margin-left: 0
}

@keyframes icon-appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.showWithFade {
    display: block !important;
    animation: slideFadeIn .25s ease;
    -webkit-animation: slideFadeIn .25s ease
}

@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translate(0, 30px)
    }
    to {
        opacity: 1;
        transform: translate(0, 0px)
    }
}

#hidableActionsWrapper {
    float: left
}

.theme-background-color {
    background-color: #03a84e;
}

.theme-text-color {
    color: #ffffff;
}

.border-corner {
    border-radius: 5px 5px 0px 0px !important;
    -moz-border-radius: 5px 5px 0px 0px !important;
    -webkit-border-radius: 5px 5px 0px 0px !important;
}

.top-border-corner {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.bottom-border-corner {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

#tooLongMsgNotification {
    background-color: #03a84e;
    color: #ffffff
}

#file-upload-drop-icon {
    color: #03a84e;
}

#tawkchat-status-container {
    left: 10px;
}

#short-message, #maximizeChat, #minimizeChatMinifiedBtn {
    line-height: 60px;
}

.bubble-text-color {
    color: #ffffff;
}

#tawkchat-message-preview-messages-container .messageBody {
    background-color: #fff !important;
    color: #333 !important;
}

#textareaContainer.additionalPadding {
    padding-right: 104px;
}

.rtl-direction #textareaContainer.additionalPadding {
    padding-left: 104px;
    padding-right: 14px;
}
