.dark-background{
	background-color: #000000db;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 1000;
	display: none;
}

.anti-scroll{
	height: 100vh;
	overflow: hidden !important;
}

.full-info{
	position: fixed;
	height: 60vh;
	min-height: 390px;
	overflow-y: hidden;
	overflow-x: hidden;
	top: 20%;
	left: 20%;
	width: 60vw;
	background-color: #fff;
	z-index: 2000;
	display: none;
}

.full-info .col-md-5{
	background-color: #fff
}

.full-info .col-md-7{
	background-color: #fff
}

.full-info-img{
	padding: 15px;
}

.full-info-status{
	padding: 15px;
}

.button-row{
	text-align: center;
	margin: 15px;
}

