.no-margin {
  margin: 0 !important;
}

.hover-pointer:hover {
  cursor: pointer;
}

@-webkit-keyframes icon-appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes icon-appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.text-blue {
  color: #74d1c6;
}

.margin-25 {
  margin: 25px !important;
}

.margin-tb-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.padding-top-50 {
  padding-top: 50px !important;
}

.padding-top-100 {
  padding-top: 100px !important;
}

.need-help {
  display: none;
  z-index: 10001;
  background: white;
  padding: 10px;
  font-size: 2em;
  position: fixed;
  bottom: 160px;
  right: 20px;
  border-radius: 5px;
}

.need-help p {
  margin: 0;
  font-size: 0.8em;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.chat-bubble-container {
  z-index: 10001;
  position: fixed;
}

.chat-bubble-container .need-help {
  position: fixed;
  right: 100px;
  bottom: 30px;
}

.chat-bubble-container .need-help p {
  margin: 0;
  font-size: 0.5em;
}

.chat-bubble-container p {
  font-size: 14px;
  margin-bottom: 0;
}

.chat-bubble-container .chat-box {
  width: 400px;
  height: 500px;
  position: fixed;
  right: 20px;
  bottom: 100px;
  background: white;
  border: solid 1px gainsboro;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 62px -17px gray;
}

.chat-bubble-container .chat-box .chat-box-top {
  background-color: #3490dc;
  text-align: center;
  padding: 15px;
  border-bottom: 2px solid #e1e1e1;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  color: white;
}

.chat-bubble-container .chat-box .chat-box-top .action {
  cursor: pointer;
  color: gainsboro;
  font-size: 24px;
  margin: 0 20px;
}

.chat-bubble-container .chat-box .chat-box-content {
  padding: 15px 5px;
  height: 400px;
  overflow-y: auto;
}

.chat-bubble-container .chat-box .chat-box-content .chat-message {
  display: flex;
}

.chat-bubble-container .chat-box .chat-box-content .chat-message .avatar {
  width: 80px;
}

.chat-bubble-container .chat-box .chat-box-content .chat-message .messages {
  width: 100%;
}

.chat-bubble-container .chat-box .chat-box-content .chat-message .message-wrapper {
  display: flex;
  margin-bottom: 10px;
}

.chat-bubble-container .chat-box .chat-box-content .chat-message .message-time {
  opacity: 0;
  display: flex;
  width: 35%;
  align-items: center;
  color: #999;
}

.chat-bubble-container .chat-box .chat-box-content .chat-message .message-time span {
  font-size: 11px;
}

.chat-bubble-container .chat-box .chat-box-content .chat-message .message {
  border-radius: 0.4em;
  padding: 7px;
  width: 60%;
  word-wrap: break-word;
  margin-bottom: 0;
}

.chat-bubble-container .chat-box .chat-box-content .chat-message.message-reply .avatar {
  margin-right: 5px;
}

.chat-bubble-container .chat-box .chat-box-content .chat-message.message-reply .message {
  background: gainsboro;
  margin-right: auto;
}

.chat-bubble-container .chat-box .chat-box-content .chat-message.message-send {
  flex-flow: row-reverse nowrap;
}

.chat-bubble-container .chat-box .chat-box-content .chat-message.message-send .avatar {
  margin-left: 5px;
}

.chat-bubble-container .chat-box .chat-box-content .chat-message.message-send .message-wrapper {
  flex-flow: row-reverse nowrap;
}

.chat-bubble-container .chat-box .chat-box-content .chat-message.message-send .message-wrapper .message-time {
  justify-content: flex-end;
}

.chat-bubble-container .chat-box .chat-box-content .chat-message.message-send .message {
  background: #3490dc;
  color: white;
  margin-left: auto;
}

.chat-bubble-container .chat-box .chat-box-footer {
  border-top: 2px solid #e1e1e1;
}

.chat-bubble-container .chat-box .chat-box-footer .file-preview {
  overflow-x: auto;
  display: flex;
}

.chat-bubble-container .chat-box .chat-box-footer .file-preview .file {
  position: relative;
  display: flex;
  margin: 10px;
  border: solid 1px #aaaaaa;
  border-radius: 3px;
  padding: 5px;
}

.chat-bubble-container .chat-box .chat-box-footer .file-preview .file .file-info {
  padding: 7px;
}

.chat-bubble-container .chat-box .chat-box-footer .file-preview .file .file-info .file-ext {
  font-weight: bold;
}

.chat-bubble-container .chat-box .chat-box-footer .file-preview .file .remove-file {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 1px;
  width: 1em;
  height: 1em;
  border: solid 1px #999;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(150, 150, 150, 0.3);
}

.chat-bubble-container .chat-box .chat-box-footer .file-preview .file .remove-file i {
  margin-top: 1px;
  font-size: 0.5em;
  color: white;
  display: table-cell;
  vertical-align: middle;
}

.chat-bubble-container .chat-box .chat-box-footer .message-input {
  border: none;
  box-shadow: none;
  outline: none;
  height: 40px;
  font-size: 14px;
}

.chat-bubble-container .chat-box .action-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chat-bubble-container .chat-box .action-group .action {
  font-size: 18px;
  color: grey;
  cursor: pointer;
  margin-right: 10px;
}

.chat-bubble-container .chat-icons {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.chat-bubble-container .chat-bubble {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #3490dc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10001;
  box-shadow: 0 0 62px -17px gray;
  -webkit-animation-name: icon-appear;
          animation-name: icon-appear;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.chat-bubble-container .chat-bubble .chat-icon i {
  line-height: 60px;
  font-size: 30px;
  color: white;
}

.chat-bubble-container .chat-bubble .chat-icon.close {
  display: none;
}

.chat-bubble-container .chat-bubble.video-call {
  position: absolute;
  z-index: 1;
}

.chat-bubble-container .chat-bubble.voice-call {
  position: absolute;
  z-index: 1;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.chat-bubble-container .loading {
  font-size: 50px;
}

.chat-bubble-container .loading span {
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.chat-bubble-container .loading span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.chat-bubble-container .loading span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10000;
}

#overlay .step-index {
  position: absolute;
  top: 100px;
  width: 100%;
  text-align: center;
}

#overlay .suggestion-text {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.tutorial-icons {
  position: fixed;
  right: 20px;
  bottom: 90px;
  display: flex;
  flex-direction: row-reverse;
  z-index: 10001;
}

.tutorial-icons .need-help {
  position: fixed;
  right: 100px;
  bottom: 90px;
}

.tutorial-icons .need-help p {
  margin: 0;
  font-size: 0.5em;
}

.tutorial-icons .tutorial-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #e3342f;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 62px -17px gray;
  -webkit-animation-name: icon-appear;
          animation-name: icon-appear;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.tutorial-icons .tutorial-icon i {
  line-height: 60px;
  font-size: 30px;
  color: white;
}

.tutorial-icons .tutorial-icon.close {
  display: none;
}

.disease-search {
  background: #f5f8fa;
  color: black;
  padding-top: 50px;
  padding-bottom: 100px;
}

.disease-search .search-box {
  padding-bottom: 50px;
}

.disease-search .search-box > h3 {
  font-size: 3rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 800;
}

.disease-search .result {
  text-align: left;
}

.disease-search .result .result-list {
  overflow-y: auto;
}

.disease-search .result .result-list h3 {
  font-size: 2em;
}

.disease-search .result .result-list .btn {
  background: #74d1c6;
  border: 2px solid #74d1c6;
  color: #fff;
  padding: 5px 20px;
  font-weight: 500;
  line-height: 1;
  border-radius: 30px;
}

.article .detail-footer .title {
  font-style: italic;
}

.article .detail-footer .doctor figure {
  height: auto;
}

.article .relate-list {
  position: relative;
  padding-top: 60px;
}

.article .relate-list .position-fixed {
  position: fixed;
}

.article .relate-list .head {
  font-size: 1.5em;
}

.article .relate-list .list-group a {
  color: black;
}

.article .btn-style {
  padding: 15px 20px;
  color: #fff !important;
}

.detail-page .title {
  font-style: italic;
}

.detail-page .doctor figure {
  height: auto;
}

.detail-page .show-more {
  text-align: center;
}

.btn-style {
  background: #74d1c6;
  border: 2px solid #74d1c6;
  color: #fff;
  padding: 5px 20px;
  font-weight: 500;
  line-height: 1;
  border-radius: 30px;
}

