

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.no-margin {
    margin: 0 !important;
}

.hover-pointer {
    &:hover {
        cursor: pointer;
    }
}

// animation
@keyframes icon-appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.text-blue {
    color: #74d1c6;
}

.margin-25 {
    margin: 25px !important;
}

.margin-tb-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.padding-top-50 {
    padding-top: 50px !important;
}

.padding-top-100 {
    padding-top: 100px !important;
}
